<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="CareConnections" value="https://pkgs.dev.azure.com/careconnections/_packaging/CC/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Microsoft Health OSS">
      <package pattern="Microsoft.Health.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="CareConnections">
      <package pattern="ZorgApp*" />
      <package pattern="NCare*" />
      <package pattern="CareConnections.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
